# shellcheck disable=SC2034

set -a

test -f .env-secret && . .env-secret

test -f .env && . .env

kernel=$( uname -a )

if echo "$kernel" | grep Darwin ; then
	. .env-osx
elif echo "$kernel"  | grep Linux ; then
	. .env-linux
fi

# --- EOF
