---

# job:
#   artifacts:
#     expire_in: 1 week

# stages:
#   - info
#   - prepare
#   - release

info:
  # stage: info
  script: |-
    set -aeEux
    set -o pipefail
    printenv
    [[ -n ${CI_COMMIT_TAG_MESSAGE-} ]] && echo ${CI_COMMIT_TAG_MESSAGE-} \
      || echo NOK

# prepare:
#   stage: prepare
#   image: golang:tip-bullseye
#   script:
#     - printenv
#     - go env
#     - go build

# release_job:
#   stage: release
#   image: registry.gitlab.com/gitlab-org/release-cli:latest
#   needs:
#     - job: prepare_job
#       artifacts: true
#   rules:
#     - if: $CI_COMMIT_TAG
#   script:
#     - echo "Creating release"
#   release:
#     name: 'Release $CI_COMMIT_TAG'
#     description: release_notes.md
#     tag_name: '$CI_COMMIT_TAG'
#     ref: '$CI_COMMIT_SHA'
#     assets:
#       links:
#         - name: 'Container Image $CI_COMMIT_TAG'
#           url: "https://$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA"

# info:test:
#   stage: info
#   script:
#     - set
#   rules:
#     - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
#
# info:release:
#   stage: info
#   script:
#     - set
#   rules:
#     - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# yamllint:
#   stage: lint
#   image: registry.gitlab.com/pipeline-components/yamllint:latest
#   script:
#     - yamllint playbooks
#
# build:
#   stage: build
#   image: "golang:1.22"
#   script:
#     - set
#     - pwd
#     - git tag
#   rules:
#     - if: '$CI_COMMIT_TAG'

# docker:
#   stage: build
#   image:
#     name: gcr.io/kaniko-project/executor:v1.14.0-debug
#     entrypoint: [""]
#   script:
#     - /kaniko/executor
#       --context "${CI_PROJECT_DIR}"
#       --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
#       --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
#   rules:
#     - if: $CI_COMMIT_TAG

# compile:
#   stage: build
#   image: "golang:1.22"
#   script:
#     - go build -o hetzner
#   artifacts:
#     paths:
#       - hetzner

# deploy_infra:
#   image: litmuschaos/ansible-runner:3.2.0
#   stage: deploy
#   environment: production
#   when: manual
#   script:
#     - ansible-playbook --version
# ui:
#   trigger:
#     include: ui/.gitlab-ci.yml
#     strategy: depend
#   rules:
#     - changes: [ui/*]
# backend:
#   trigger:
#     include: backend/.gitlab-ci.yml
#     strategy: depend
#   rules:
#     - changes: [backend/*]


# prepare_job:
#   stage: prepare
#   image: alpine:latest
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
#   script:
#     - apk add curl jq
#     - 'curl -H "PRIVATE-TOKEN: $CI_API_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/changelog?version=$CI_COMMIT_TAG" | jq -r .notes > release_notes.md'
#   artifacts:
#     paths:
#       - release_notes.md
#
# release_job:
#   stage: release
#   image: registry.gitlab.com/gitlab-org/release-cli:latest
#   needs:
#     - job: prepare_job
#       artifacts: true
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
#   script:
#     - echo "Creating release"
#   release:
#     name: 'Release $CI_COMMIT_TAG'
#     description: release_notes.md
#     tag_name: '$CI_COMMIT_TAG'
#     ref: '$CI_COMMIT_SHA'
#     assets:
#       links:
#         - name: 'Container Image $CI_COMMIT_TAG'
#           url: "https://$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA"

# --- EOF
