:root {
  --bleeding: 0.5cm;
  --margin: 1cm;
}

@page {
  size: A4;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  font-size: 8px;
  font-family: "Courier New";
}

.page {
  display: inline-block;
  position: relative;
  height: 297mm;
  width: 210mm;

  margin: 2em auto;
  padding: calc(var(--bleeding) + var(--margin));
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  background: white;
}

@media screen {
  .page::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - var(--bleeding) * 2);
    height: calc(100% - var(--bleeding) * 2);
    margin: var(--bleeding);
    outline: thin dashed black;
    pointer-events: none;
    z-index: 9999;
  }
}

@media print {
  .page {
    margin: 0;
    overflow: hidden;
  }
}


/* --- */


/* table {
	width: 100%;
	border-collapse: collapse;
}

table,
table th,
table td {
	border: 1px solid silver;
}

table th,
table td {
	text-align: right;
	padding: 8px;
}

h1 {
	font-size: 20px;
	margin: 0;
}

h4,
p {
	margin: 0;
}

.container {
	padding: 20px 0;
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
} */

/* .inv-title {
	padding: 10px;
	border: 1px solid silver;
	text-align: center;
	margin-bottom: 30px;
}

.inv-logo {
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}  */

/* header */
.address-sender {
  float: left;
  width: 101%;
  margin-bottom: 1cm;
  border: 1px solid black;
}

.address-receiver {
  float: left;
  width: 101%;
  margin-left: 12cm;
  margin-bottom: 1cm;
  border: 1px solid black;
}

.bordered {
  border: 5px solid black;
  /* background-color: lightgray; */
}

.table {
  font-size: 14px;
}
/* .inv-header> :nth-child(1) {
	flex: 2;
}

.inv-header> :nth-child(2) {
	flex: 1;
}

.inv-header h2 {
	font-size: 20px;
	margin: 0 0 0.3rem 0;
}

.inv-header ul li {
	font-size: 15px;
	padding: 3px 0;
} */

/* body */
/* .inv-body table th,
.inv-body table td {
	text-align: left;
}

.inv-body {
	margin-bottom: 30px;
}


.inv-footer {
	display: flex;
	flex-direction: row;
}

.inv-footer> :nth-child(1) {
	flex: 2;
}

.inv-footer> :nth-child(2) {
	flex: 1;
} */



/* --- */